header {
  z-index: 0;
  height: 400px;
  width: 100%;
  background-color: #c7c7c7;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  background-repeat: repeat;
}

.avatar {
  display: flex;
  justify-content: center;
}

.avatar-name {
  display: flex;
  justify-content: center;
}